In [291]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model

In [292]:
df = pd.read_csv('startup data simplify.csv')

In [293]:
df.head

<bound method NDFrame.head of      Unnamed: 0 state_code   latitude   longitude zip_code       id  \
0          1005         CA  42.358880  -71.056820    92101   c:6669
1           204         CA  37.238916 -121.973718    95032  c:16283
2          1001         CA  32.901049 -117.192656    92121  c:65620
3           738         CA  37.320309 -122.050040    95014  c:42668
4          1002         CA  37.779281 -122.419236    94105  c:65806
..          ...        ...        ...         ...      ...      ...
918         352         CA  37.740594 -122.376471    94107  c:21343
919         721         MA  42.504817  -71.195611     1803  c:41747
920         557         CA  37.408261 -122.015920    94089  c:31549
921         589         CA  37.556732 -122.288378    94404  c:33198
922         462         CA  37.386778 -121.966277    95054  c:26702

              city              Unnamed: 6                  name  labels  ...  \
0        San Diego                     NaN           Bandsintown       1  ...
1        Los Gatos                     NaN             TriCipher       1  ...
2        San Diego      San Diego CA 92121                 Plixi       1  ...
3        Cupertino      Cupertino CA 95014     Solidcore Systems       1  ...
4    San Francisco  San Francisco CA 94105        Inhale Digital       0  ...
..             ...                     ...                   ...     ...  ...
918  San Francisco                     NaN               CoTweet       1  ...
919     Burlington      Burlington MA 1803    Reef Point Systems       0  ...
920      Sunnyvale                     NaN       Paracor Medical       0  ...
921  San Francisco                     NaN               Causata       1  ...
922    Santa Clara    Santa Clara CA 95054  Asempra Technologies       1  ...

    object_id has_VC has_angel has_roundA  has_roundB  has_roundC  has_roundD  \
0      c:6669      0         1          0           0           0           0
1     c:16283      1         0          0           1           1           1
2     c:65620      0         0          1           0           0           0
3     c:42668      0         0          0           1           1           1
4     c:65806      1         1          0           0           0           0
..        ...    ...       ...        ...         ...         ...         ...
918   c:21343      0         0          1           0           0           0
919   c:41747      1         0          0           1           0           0
920   c:31549      0         0          0           0           0           1
921   c:33198      0         0          1           1           0           0
922   c:26702      0         0          0           1           0           0

     avg_participants  is_top500    status
0              1.0000          0  acquired
1              4.7500          1  acquired
2              4.0000          1  acquired
3              3.3333          1  acquired
4              1.0000          1    closed
..                ...        ...       ...
918            6.0000          1  acquired
919            2.6667          1    closed
920            8.0000          1    closed
921            1.0000          1  acquired
922            3.0000          1  acquired

[923 rows x 49 columns]>

In [294]:
df = df.fillna(0)

In [295]:
df.columns

Index(['Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'labels', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'],
      dtype='object')

In [296]:
op = df['status']=='acquired'
op

0       True
1       True
2       True
3       True
4      False
       ...
918     True
919    False
920    False
921     True
922     True
Name: status, Length: 923, dtype: bool

In [297]:
ip = df.drop(columns=['state_code', 'id', 'city', 'Unnamed: 6', 'name', 'founded_at', 'closed_at', 'status', 'zip_code', 'first_funding_at', 'last_funding_at', 'object_id', 'state_code.1', 'category_code'])
ip

,Unnamed: 0,latitude,longitude,labels,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,...,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500
0,1005,42.358880,-71.056820,1,2.2493,3.0027,4.6685,6.7041,3,3,...,0,1,0,1,0,0,0,0,1.0000,0
1,204,37.238916,-121.973718,1,5.1260,9.9973,7.0055,7.0055,9,4,...,0,0,1,0,0,1,1,1,4.7500,1
2,1001,32.901049,-117.192656,1,1.0329,1.0329,1.4575,2.2055,5,1,...,0,0,0,0,1,0,0,0,4.0000,1
3,738,37.320309,-122.050040,1,3.1315,5.3151,6.0027,6.0027,5,3,...,0,0,0,0,0,1,1,1,3.3333,1
4,1002,37.779281,-122.419236,0,0.0000,1.6685,0.0384,0.0384,2,2,...,0,0,1,1,0,0,0,0,1.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
918,352,37.740594,-122.376471,1,0.5178,0.5178,0.5808,4.5260,9,1,...,0,0,0,0,1,0,0,0,6.0000,1
919,721,42.504817,-71.195611,0,7.2521,9.2274,6.0027,6.0027,1,3,...,0,1,1,0,0,1,0,0,2.6667,1
920,557,37.408261,-122.015920,0,8.4959,8.4959,9.0055,9.0055,5,1,...,0,0,0,0,0,0,0,1,8.0000,1
921,589,37.556732,-122.288378,1,0.7589,2.8329,0.7589,3.8356,12,2,...,0,0,0,0,1,1,0,0,1.0000,1
922,462,37.386778,-121.966277,1,3.1205,3.1205,4.0027,4.0027,4,1,...,0,1,0,0,0,1,0,0,3.0000,1

In [298]:
trainX, testX, trainY, testY = sklearn.model_selection.train_test_split(ip, op, train_size=700)

In [299]:
len(trainX), len(trainY), len(testX), len(testY)

(700, 700, 223, 223)

In [300]:
linear_regression_model = sklearn.linear_model.LinearRegression()

In [301]:
linear_regression_model.fit(trainX, trainY)

LinearRegression()

In [302]:
predictY = linear_regression_model.predict(testX)

In [303]:
len(predictY), len(testY)

(223, 223)

In [304]:
predictY = [i>=0.5 for i in predictY]

In [305]:
len(predictY), len(testY)

(223, 223)

In [306]:
testY = [i for i in testY]

In [307]:
result = [(predictY[i] == testY[i]) for i in range(len(predictY))]

In [308]:
result.count(True) / len(predictY)

1.0