In [20]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
from sklearn.utils import shuffle

In [21]:
df = pd.read_csv('startup_data_simplify.csv')

In [22]:
df.head

<bound method NDFrame.head of      Unnamed: 0 state_code   latitude   longitude zip_code       id  \
0          1005         CA  42.358880  -71.056820    92101   c:6669
1           204         CA  37.238916 -121.973718    95032  c:16283
2          1001         CA  32.901049 -117.192656    92121  c:65620
3           738         CA  37.320309 -122.050040    95014  c:42668
4          1002         CA  37.779281 -122.419236    94105  c:65806
..          ...        ...        ...         ...      ...      ...
918         352         CA  37.740594 -122.376471    94107  c:21343
919         721         MA  42.504817  -71.195611     1803  c:41747
920         557         CA  37.408261 -122.015920    94089  c:31549
921         589         CA  37.556732 -122.288378    94404  c:33198
922         462         CA  37.386778 -121.966277    95054  c:26702

              city              Unnamed: 6                  name  labels  ...  \
0        San Diego                     NaN           Bandsintown       1  ...
1        Los Gatos                     NaN             TriCipher       1  ...
2        San Diego      San Diego CA 92121                 Plixi       1  ...
3        Cupertino      Cupertino CA 95014     Solidcore Systems       1  ...
4    San Francisco  San Francisco CA 94105        Inhale Digital       0  ...
..             ...                     ...                   ...     ...  ...
918  San Francisco                     NaN               CoTweet       1  ...
919     Burlington      Burlington MA 1803    Reef Point Systems       0  ...
920      Sunnyvale                     NaN       Paracor Medical       0  ...
921  San Francisco                     NaN               Causata       1  ...
922    Santa Clara    Santa Clara CA 95054  Asempra Technologies       1  ...

    object_id has_VC has_angel has_roundA  has_roundB  has_roundC  has_roundD  \
0      c:6669      0         1          0           0           0           0
1     c:16283      1         0          0           1           1           1
2     c:65620      0         0          1           0           0           0
3     c:42668      0         0          0           1           1           1
4     c:65806      1         1          0           0           0           0
..        ...    ...       ...        ...         ...         ...         ...
918   c:21343      0         0          1           0           0           0
919   c:41747      1         0          0           1           0           0
920   c:31549      0         0          0           0           0           1
921   c:33198      0         0          1           1           0           0
922   c:26702      0         0          0           1           0           0

     avg_participants  is_top500    status
0              1.0000          0  acquired
1              4.7500          1  acquired
2              4.0000          1  acquired
3              3.3333          1  acquired
4              1.0000          1    closed
..                ...        ...       ...
918            6.0000          1  acquired
919            2.6667          1    closed
920            8.0000          1    closed
921            1.0000          1  acquired
922            3.0000          1  acquired

[923 rows x 49 columns]>

In [23]:
df = shuffle(df)

In [24]:
df = df.fillna(0)

In [25]:
df.columns

Index(['Unnamed: 0', 'state_code', 'latitude', 'longitude', 'zip_code', 'id',
       'city', 'Unnamed: 6', 'name', 'labels', 'founded_at', 'closed_at',
       'first_funding_at', 'last_funding_at', 'age_first_funding_year',
       'age_last_funding_year', 'age_first_milestone_year',
       'age_last_milestone_year', 'relationships', 'funding_rounds',
       'funding_total_usd', 'milestones', 'state_code.1', 'is_CA', 'is_NY',
       'is_MA', 'is_TX', 'is_otherstate', 'category_code', 'is_software',
       'is_web', 'is_mobile', 'is_enterprise', 'is_advertising',
       'is_gamesvideo', 'is_ecommerce', 'is_biotech', 'is_consulting',
       'is_othercategory', 'object_id', 'has_VC', 'has_angel', 'has_roundA',
       'has_roundB', 'has_roundC', 'has_roundD', 'avg_participants',
       'is_top500', 'status'],
      dtype='object')

In [26]:
op = df['status']=='acquired'
op

496    False
722     True
610     True
322     True
414     True
       ...
108     True
18      True
765     True
165     True
269     True
Name: status, Length: 923, dtype: bool

In [27]:
ip = df.drop(columns=['state_code', 'id', 'city', 'Unnamed: 6', 'name', 'founded_at', 'closed_at', 'status', 'zip_code', 'first_funding_at', 'last_funding_at', 'object_id', 'state_code.1', 'category_code'])
ip

,Unnamed: 0,latitude,longitude,labels,age_first_funding_year,age_last_funding_year,age_first_milestone_year,age_last_milestone_year,relationships,funding_rounds,...,is_consulting,is_othercategory,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500
496,197,34.050451,-118.437775,0,0.6658,0.6658,0.4192,0.4192,2,1,...,0,1,0,1,0,0,0,0,1.0,0
722,29,33.426418,-111.939600,1,0.7534,0.7534,3.1699,4.6247,13,1,...,0,0,0,0,1,0,0,0,3.0,1
610,74,37.391642,-122.093935,1,0.6767,1.9178,4.9781,6.6548,13,2,...,0,0,0,0,1,1,0,0,4.5,1
322,399,33.786263,-84.387794,1,2.1370,10.1288,10.4164,12.1863,35,4,...,0,1,1,0,0,1,0,1,2.0,1
414,1152,40.739010,-73.997259,1,0.5836,1.6521,0.6329,4.2630,6,2,...,0,0,0,1,0,0,0,0,2.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,1149,37.758062,-122.418642,1,2.7233,2.7233,0.9151,6.3096,5,1,...,0,0,0,1,0,0,0,0,7.0,1
18,858,40.730646,-73.986614,1,0.7425,1.5808,1.2849,3.0027,10,3,...,0,0,0,1,1,0,0,0,5.0,1
765,853,37.388869,-122.072353,1,0.0000,2.7644,1.1616,1.1616,4,3,...,0,1,0,1,0,0,0,0,4.0,0
165,227,30.268236,-97.740651,1,2.5233,2.6685,3.0027,4.4247,11,2,...,0,1,0,0,1,1,0,0,1.5,1
269,383,37.779281,-122.419236,1,3.3945,5.0712,5.7233,8.7342,3,2,...,0,0,0,0,1,1,0,0,2.0,1

In [28]:
trainX, testX, trainY, testY = sklearn.model_selection.train_test_split(ip, op, train_size=700)

In [29]:
len(trainX), len(trainY), len(testX), len(testY)

(700, 700, 223, 223)

In [30]:
logistic_regression_model = sklearn.linear_model.LogisticRegression()

In [31]:
logistic_regression_model.fit(trainX, trainY)

LogisticRegression()

In [32]:
predictY = logistic_regression_model.predict(testX)

In [33]:
len(predictY), len(testY)

(223, 223)

In [34]:
predictY = [i>=0.5 for i in predictY]

In [35]:
len(predictY), len(testY)

(223, 223)

In [36]:
testY = [i for i in testY]

In [37]:
result = [(predictY[i] == testY[i]) for i in range(len(predictY))]

In [38]:
result.count(True) / len(predictY)

0.6233183856502242